/* search box */
.wy-side-nav-search input[type=text] {
  border-color: #DC3545;
}

/* navigation */
.wy-side-nav-search {
  background-color: #DC3545;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  margin-top: .809em;
  color:  #999999;
}

.wy-menu-vertical header, .wy-menu-vertical ul.toctree-l1 {
  margin-top: .809em;
  color:  #999999;
}
