/* search box */
.wy-side-nav-search input[type=text] {
  border-color: #DC3545;
}

/* navigation */
.wy-side-nav-search {
  padding-top: 170px;
  background-image: url("/images/Logo.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-color: #DC3545;
}

